    <div>
        <h1>Control Your Lights</h1>
        <p>This page control <span class="text-danger">LED</span> and <span class="text-danger">Interaction</span> for you.</p>
        <div class="col-md-3 col-sm-4">
        <h3>On/Off</h3>
            Red Light
            <input type="checkbox" class="btn btn-danger" checked data-toggle="toggle" ng-click="ledOnOffOperation()">
            <br/>
            Yellow Light
            <input type="checkbox" class="btn btn-warning" checked data-toggle="toggle" ng-click="ledToggleOperation()">
            <br/>
            Green Light
            <input type="checkbox" class="btn btn-success" checked data-toggle="toggle" ng-click="ledOnBlinkOperation()">
            <br/>
        </div>
        <div class="col-md-3 col-sm-4">
        <h3>Toggle</h3>
            Red Light
            <input type="checkbox" checked data-toggle="toggle" ng-click="ledOnOffOperation()">
            <br/>
            Yellow Light
            <input type="checkbox" checked data-toggle="toggle" ng-click="ledToggleOperation()">
            <br/>
            Green Light
            <input type="checkbox" checked data-toggle="toggle" ng-click="ledOnBlinkOperation()">
            <br/>
        </div>
        <div class="col-md-3 col-sm-4">
        <h3>Blink</h3>
            Red Light
            <input type="checkbox" checked data-toggle="toggle" ng-click="ledOnOffOperation()">
            <br/>
            Yellow Light
            <input type="checkbox" checked data-toggle="toggle" ng-click="ledToggleOperation()">
            <br/>
            Green Light
            <input type="checkbox" checked data-toggle="toggle" ng-click="ledOnBlinkOperation()">
            <br/>
    </div>
<!--    <div class="row">

        <div class="col-sm-6">
            <div ui-view="columnOne"></div>
        </div>
        
        
        <div class="col-sm-6">
            <div ui-view="columnTwo"></div>
        </div>

        
    </div>-->