    <div>
        <h1>Control Your Lights</h1>
        <p>This page control <span class="text-danger">LED</span> and <span class="text-danger">Interaction</span> for you.</p>
        <div class="col-md-3 col-sm-4">
        <h3>Toggle</h3>
            Red Light
            <input type="checkbox" checked data-toggle="toggle" ng-click="ledToggleOperation(red)">
            <br/>
            Yellow Light
            <input type="checkbox" checked data-toggle="toggle" ng-click="ledToggleOperation(yellow)">
            <br/>
            Green Light
            <input type="checkbox" checked data-toggle="toggle" ng-click="ledToggleOperation(green)">
            <br/>
        </div>
        <div class="col-md-3 col-sm-4">
        <h3>Blink</h3>
            Red Light
            <input type="checkbox" checked data-toggle="toggle" ng-click="ledBlinkOperation(red)">
            <br/>
            Yellow Light
            <input type="checkbox" checked data-toggle="toggle" ng-click="ledBlinkOperation(yellow)">
            <br/>
            Green Light
            <input type="checkbox" checked data-toggle="toggle" ng-click="ledBlinkOperation(green)">
            <br/>
        <div class="col-md-3 col-sm-4">
        <h3>Pulse</h3>
            Red Light
            <input type="checkbox" class="btn btn-danger" checked data-toggle="toggle" ng-click="ledPulseOperation(red)">
            <br/>
            Yellow Light
            <input type="checkbox" class="btn btn-warning" checked data-toggle="toggle" ng-click="ledPulseOperation(yellow)">
            <br/>
            Green Light
            <input type="checkbox" class="btn btn-success" checked data-toggle="toggle" ng-click="ledPulseOperation(green)">
            <br/>
        </div>
    </div>
<!--    <div class="row">

        <div class="col-sm-6">
            <div ui-view="columnOne"></div>
        </div>
        
        
        <div class="col-sm-6">
            <div ui-view="columnTwo"></div>
        </div>

        
    </div>-->